[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
tensorflow="*"
streamlit = "*"
seaborn = "*"
matplotlib = "*"
sklearn="*"
nlp="*"
sumy="*"
spacy="*"


[requires]
python_version = "3.6"
